#Banner1_0 .banner-anim > .banner-anim-elem > .kgxul98of9-editor_css {
  background-image: ;
  background-attachment: ;
  background-blend-mode: ;
  background-position: ;
  background-repeat: ;
  background-size: ;
  background-clip: ;
}
